<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartfit" >

    <uses-sdk tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 环信 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.smartfit" />

    <permission
        android:name="getui.permission.GetuiService.com.smartfit"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:name=".SmartAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/message_icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme" >

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="8jLZ9Ca3VM7I367qKMB0v2" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="zbK3CyaHK967CJs2TXrQ24" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="2lBWedLLot99dZHIW40oG6" />

        <!-- 配置第三方Receiver -->
        <receiver
            android:name=".recieve.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.8jLZ9Ca3VM7I367qKMB0v2" />
            </intent-filter>
        </receiver>

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.smartfit"
            android:exported="true"
            android:process=":pushservice" />

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.8jLZ9Ca3VM7I367qKMB0v2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推SDK配置结束 -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="38a833cf2b137bf1bb11d8857de1389d" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="smartfit#smartfit" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.UpdatePasswordActivity"
            android:label="@string/title_activity_forget"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.DealInfoActivity"
            android:label="@string/title_activity_deal_info"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.MainBusinessActivity"
            android:label="@string/title_activity_main_business"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />

        <!-- 添加Umeng 统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d69fea67e58e4d270012e4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- uMNNG  分享 -->

        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 新浪微博 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- end  umeng 分享 -->
        <activity android:name=".activities.OrderReserveActivity" />
        <activity
            android:name=".activities.SearchClassActivity"
            android:label="@string/title_activity_search_class"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.GroupClassDetailActivity"
            android:label="@string/title_activity_group_class_detail"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CoachInfoActivity"
            android:label="@string/title_activity_coach_info"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.PayActivity"
            android:label="@string/title_activity_pay"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.OrderPrivateEducationClassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CoachAppraiseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CoachAuthentitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.GroupClassOrderSuccessActivity"
            android:label="@string/title_activity_group_class_order_success"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.ContactCoachActivity"
            android:label="@string/title_activity_contact_coach"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.AerobicAppratusDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.AerobicAppratusOrderSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CustomeMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CustomeDynamicActivity"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.PublishCustomeDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.OrderPrivateEducationSuccessActivity"
            android:label="@string/title_activity_order_private_education_success"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.MyTicketGiftActivity"
            android:label="@string/title_activity_my_ticket_gift"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.MyClassesActivity"
            android:label="@string/title_activity_my_classes"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.FadeBackActivity"
            android:label="@string/title_activity_fade_back"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.FansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.AttentionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.HealthFriendsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CoachAuthBaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.CityListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.NoActionBar" />
        <activity
            android:name=".activities.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WithDrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CoachClassesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MembersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FindSubstitueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CustomeCoachActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CustomDetailInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CoachDetailInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyWorkPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectWorkPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectWorkPointTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WaitVertifyActivity"
            android:label="@string/title_activity_wait_vertify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CoachBriefActivity"
            android:label="@string/title_activity_coach_brief"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OtherCustomeMainActivity"
            android:label="@string/title_activity_other_custome_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WorkPlaceEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectWorkWeekDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClassMoreCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelfDesignCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectVenueRoomsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CourseMessageActivity"
            android:label="@string/title_activity_course_message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FriendsMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCustomClassOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCustomClassTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCustomClassThreeActivity"
            android:label="@string/title_activity_custom_class_three"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCustomClassFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CustomeClassActivity"
            android:label="@string/title_activity_custome_class"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DynamicMakeDiscussActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DynamicDetailActivity"
            android:label="@string/title_activity_dynamic_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SystemMessageListActivity"
            android:label="@string/title_activity_system_message_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCoachPublishClassOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCoachPublishClassTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserCoachPublishClassThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FaqContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReopenClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchHealthFriendsActivity"
            android:label="@string/title_activity_search_health_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InviteFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrivateClassByMessageActivity"
            android:label="@string/title_activity_private_class_by_message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TeachClassListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VertifyNotPassActivity"
            android:label="@string/title_activity_vertify_not_pass" >
        </activity>
    </application>

</manifest>
