<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartfit" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".SmartAppliction"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activities.ForgetActivity"
            android:label="@string/title_activity_forget" >
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activities.DealInfoActivity"
            android:label="@string/title_activity_deal_info" >
        </activity>
        <activity
            android:name=".activities.MainBusinessActivity"
            android:label="@string/title_activity_main_business" >
        </activity>

        <!-- 添加Umeng 统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d69fea67e58e4d270012e4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity android:name=".activities.OrderReserveActivity" >
        </activity>
        <activity android:name=".activities.MainUserActivity" >
        </activity>
    </application>

</manifest>
